:root{
    --primary-color: #3ab5a4;    
    --background-primary-color: #222e33; 
    --background-secondary-color: #f6f6f6;   
    --border-color: #d6d6d6;
    --title-color: #0d0d0d;
    --text-color: #3c3c3c;
    --color-white: #fff;
    --color-error: #ff0009;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
html, body{
    height: 100vh;
    width: 100%
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    min-width: 20rem
}
p, label{
    color: var(--text-color);
    font-weight: 500
}
header, footer{
    align-items: center;
    background-color: var(--background-primary-color);
    display: flex;
    justify-content: center;
    padding: 1.5rem
}
.header__logo img{
    height: auto;
    transition: width .3s ease;
    width: max-content
}
.header-logo__svg {
    height: 3rem;
    width: auto;
    transition: width .3s ease;
}
.header-logo__svg-primary {
    fill:var(--primary-color);
}
.header-logo__svg-j {
    fill:var(--color-white);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 3rem
}
.encuesta {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    width: 100%;
}
@media screen and (max-width: 596px) {
    .encuesta {
        padding: 0 1rem;
    }
}
.encuesta__titulo{
    color: var(--title-color);
    font-family: 'Montserrat';
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}
.encuesta__texto{
    color: var(--text-color);
    font-family: 'Montserrat';
    font-size: 1.75rem;
    margin-bottom: 3rem;
    text-align: center;
}
.encuesta__emoji {
    font-size: 3rem;
    text-align: center;
    width: 100%;
}
.encuesta__input-range {
    width: 100%;
    margin: 0 10px;
}
.encuesta__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.encuesta__rangos {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.5rem;
    height: auto;
}
.encuesta__valores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
    padding: 2rem 1rem 0 1.125rem;
}
.encuesta__valor {
    font-weight: bold;
}
.encuesta__valor--hide {
    display: none;
}
.encuesta__resumen {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}
.encuesta__resultado,
.encuesta__nota {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
    text-transform: capitalize;
}
.encuesta__resultado {
    color: var(--color-error);
}
.footer {
    color: var(--color-white);
    font-weight: 500;
}
.footer__copy-jjasdev {
    color: var(--primary-color);
}

/* 
 INPUT RANGE
*/

input[type='range'] {
    display: block;
    width: 100%;
    cursor: pointer;
}

input[type='range']:focus {
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background-image: url(../assets/imgs/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.25));
    width: 50px;
    height: 50px;
    margin-top: -20px
}

input[type=range]::-moz-range-thumb {
    background-image: url(../assets/imgs/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

input[type=range]::-ms-thumb {
    background-image: url(../assets/imgs/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: var(--background-primary-color);
    height: 12px;  
    border-radius: 5px;  
}

input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    background-color: var(--background-primary-color);
    height: 12px;
    border-radius: 5px;
}

input[type=range]::-ms-track {
    -webkit-appearance: none;
    background-color: var(--background-primary-color);
    height: 12px;
    border-radius: 5px;
}